<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [17]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=99a99a4e3d6ceaf5a8323281e8256090"
response_text = requests.get(url).text
response_dict = requests.get(url)

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [19]:
response_text

'{"success":true,"timestamp":1690569423,"base":"EUR","date":"2023-07-28","rates":{"AED":4.048477,"AFN":96.446468,"ALL":105.535622,"AMD":425.690223,"ANG":1.983802,"AOA":908.963852,"ARS":301.614318,"AUD":1.656241,"AWG":1.983951,"AZN":1.878107,"BAM":1.958234,"BBD":2.222503,"BDT":119.448478,"BGN":1.955052,"BHD":0.415487,"BIF":3124.72301,"BMD":1.102195,"BND":1.465835,"BOB":7.606662,"BRL":5.219008,"BSD":1.100788,"BTC":3.7644274e-5,"BTN":90.504964,"BWP":14.389017,"BYN":2.778391,"BYR":21603.023281,"BZD":2.218798,"CAD":1.459296,"CDF":2726.830991,"CHF":0.957802,"CLF":0.033029,"CLP":911.383492,"CNY":7.879637,"COP":4320.891227,"CRC":594.655362,"CUC":1.102195,"CUP":29.208169,"CVE":110.55446,"CZK":23.977707,"DJF":195.882541,"DKK":7.452283,"DOP":61.947646,"DZD":149.649733,"EGP":34.054311,"ERN":16.532926,"ETB":60.345612,"EUR":1,"FJD":2.468642,"FKP":0.856433,"GBP":0.857182,"GEL":2.855116,"GGP":0.856433,"GHS":12.554432,"GIP":0.856433,"GMD":65.805293,"GNF":9533.987707,"GTQ":8.645904,"GYD":230.470665,"HKD":8.594311,"HNL":27.136471,"HRK":7.411004,"HTG":150.799501,"HUF":385.349866,"IDR":16625.785915,"ILS":4.081543,"IMP":0.856433,"INR":90.654997,"IQD":1443.875536,"IRR":46677.961407,"ISK":144.906011,"JEP":0.856433,"JMD":170.064482,"JOD":0.780469,"JPY":155.29984,"KES":156.95677,"KGS":96.595168,"KHR":4552.066006,"KMF":491.913842,"KPW":991.960271,"KRW":1406.996511,"KWD":0.338683,"KYD":0.917248,"KZT":490.188215,"LAK":20983.042725,"LBP":16819.497082,"LKR":363.276509,"LRD":205.008666,"LSL":19.43212,"LTL":3.254496,"LVL":0.666707,"LYD":5.252003,"MAD":10.666497,"MDL":19.450707,"MGA":4910.279399,"MKD":61.605781,"MMK":2311.494236,"MNT":3798.115771,"MOP":8.842232,"MRO":393.483449,"MUR":50.48466,"MVR":16.919111,"MWK":1160.27384,"MXN":18.404496,"MYR":5.01885,"MZN":69.714254,"NAD":19.432115,"NGN":855.061303,"NIO":40.234225,"NOK":11.233159,"NPR":144.807943,"NZD":1.789904,"OMR":0.424339,"PAB":1.100688,"PEN":3.954718,"PGK":3.88014,"PHP":60.563457,"PKR":315.672749,"PLN":4.413906,"PYG":8018.185115,"QAR":4.013135,"RON":4.934752,"RSD":117.318054,"RUB":101.468489,"RWF":1297.283592,"SAR":4.1344,"SBD":9.200934,"SCR":14.942357,"SDG":662.974386,"SEK":11.611306,"SGD":1.467331,"SHP":1.341096,"SLE":23.233915,"SLL":21768.352914,"SOS":627.704129,"SRD":42.354092,"STD":22813.21253,"SVC":9.630884,"SYP":2769.299705,"SZL":19.421084,"THB":37.750588,"TJS":12.047594,"TMT":3.868705,"TND":3.390907,"TOP":2.590545,"TRY":29.669773,"TTD":7.4785,"TWD":34.564952,"TZS":2705.889255,"UAH":40.651869,"UGX":3979.000181,"USD":1.102195,"UYU":41.491575,"UZS":12807.507028,"VEF":3226919.660281,"VES":32.259702,"VND":26116.512074,"VUV":130.267151,"WST":2.991539,"XAF":656.779358,"XAG":0.045305,"XAU":0.000562,"XCD":2.978738,"XDR":0.816025,"XOF":650.850151,"XPF":119.643675,"YER":275.934935,"ZAR":19.370693,"ZMK":9921.082178,"ZMW":20.445972,"ZWL":354.906361}}'

In [27]:
# response object has .json() method in object which we can call and then simply target the rates dictionary of key/value pairs in the object/json return
rates = response_dict.json()['rates'] 
print(len(rates))

170

In [31]:
## Here's an idea of what the key value pairs look like rather than 170
from itertools import islice
def take(n, iterable):
    return list(islice(iterable, n))

n_items = take(10, rates.items())
print(n_items)

[('AED', 4.048477), ('AFN', 96.446468), ('ALL', 105.535622), ('AMD', 425.690223), ('ANG', 1.983802), ('AOA', 908.963852), ('ARS', 301.614318), ('AUD', 1.656241), ('AWG', 1.983951), ('AZN', 1.878107)]

In [32]:
# Turn the data into a dataframe (from text extracted values of response)
dframe_text = pd.read_json(response_text)[['rates']]
display(dframe_text)

           rates
AED     4.048477
AFN    96.446468
ALL   105.535622
AMD   425.690223
ANG     1.983802
..           ...
YER   275.934935
ZAR    19.370693
ZMK  9921.082178
ZMW    20.445972
ZWL   354.906361

[170 rows x 1 columns]

In [38]:
# Turn the data from the response dictionary and json call into a dataframe
# {'AED': 4.048477, 'AFN': 96.446468, 'ALL': 105.535622,'AMD': 425.690223,'ANG': 1.983802,'AOA': 908.963852,'ARS': 301.614318} # sample rates dictionary
dframe_from_dict = pd.DataFrame(data=rates.values(), index=rates.keys(), columns=['ExchangeRates'])
display(dframe_from_dict.head())

     ExchangeRates
AED       4.048477
AFN      96.446468
ALL     105.535622
AMD     425.690223
ANG       1.983802

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [39]:
# Save the Dataframe
dframe_from_dict.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).